<%- include('header'); %>
<div class="container">

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nickname</th>
        <th>Score</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><%- nickname %></td>
            <td><%- score %></td>
            <td><%- data %></td>
        </tr>
    </tbody>
</table>
</div>
<%- include('footer'); %>