<%- include('header'); %>
  <body>
    <div class="allinea">
      <h1 class="title"><%= topicHead %></h1>
  
      <div class='text'>Saldo: <%= saldo %> euro</div>
  
      <div class='text'>Utente: <%= utente %></div>
  
      <div class='text'>Puntata: <%= puntata %></div>
  
      <div class='text'>Vincita: <%= vincita %> euro, hai estratto un <%= moltip %>x</div>
  
      <form action="/game" method="post">
        <input class="button-3" type="submit" value="Gioca un altra partita"><br><br>
      </form>
    </div>
    
    <div class="allinea">
      <table border="1" align="center" class="greenTable">
        <% var rig = 0 %>
        <% var col = 0 %>
        <% numeri.forEach(function(arr){ %>
          <%col = 0 %>
          <tr>
            <% arr.forEach(function(num){ %>
              <% if( x == rig && y == col ) { %>
                <td style="background-color:teal"><%= num %>x</td>
              <% } else { %>
                <td><%= num %>x</td>
              <% } %>
              <% col++ %>
            <% }) %>
          </tr>
          <% rig++ %>
        <% }) %>
      </table>
    </div>
    

    <script>
      function regole_gioco() {
        var regole_class = document.getElementById("regole").classList;

        if (regole_class == "hide") {
          document.getElementById("regole").classList.remove("hide");
        } else {
          document.getElementById("regole").classList = "hide";
        }
      }
    </script>
  </body>
<%- include('footer'); %>
